body {
    background-color: #000;
    color: #ffffff;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    background-color: #111;
    border-bottom: 1px solid #333;
}

main {
    display: flex;
    height: calc(100vh - 100px); /* Adjust based on header height */
}

#form-section {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

#output-section {
    flex: 1;
    padding: 20px;
}

#output {
    white-space: pre-wrap;
    margin-bottom: 20px;
    font-size: 14px;
    color: green;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #45a049;
}
